/* App.css */

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.information {
  text-align: center;
  margin-bottom: 20px;
}

.inc_button {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.inc_button button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 2em;
  background-color: #007bff; /* Örnek bir renk */
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.inc_button button:hover {
  background-color: #0056b3; /* Renk değişimi */
}
